::-webkit-scrollbar {
    width: 12px;
    background: linear-gradient( #818181, #9a9999);
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    background: linear-gradient(#606060, #7a7777);
}
