header {
  background-color: #545454;
}

#prefBody {
  background-color: #545454;
  color: rgb(218, 218, 218);
}

.themeBtn {
    color: rgb(218, 218, 218);
    background-color: #818181;
    border: 2px solid #404040;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.selectedBtn {
  background-color: #404040;
  border: 2px solid #818181;
}
