#bg {
  background-color: #818181;
  background: linear-gradient(#818181, #9a9999);
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(218, 218, 218);
}

h1 {
  border-bottom: 1px solid rgb(218, 218, 218);
}
