header {
  background-color: #545454;
}

#prefBody {
  background-color: #545454;
  color: rgb(218, 218, 218);
  text-align: center;
}

.prefH1 {
  border-bottom: 1px solid rgb(218, 218, 218);
}

.themeBtn {
    color: rgb(218, 218, 218);
    background-color: #818181;
    border: 2px solid #404040;
}

.selectedBtn {
  background-color: #69aa00;
  border: 2px solid #404040;
}
