body {
  margin: 0px;
  padding: 0px;
}

header {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
  height: 40px;
  padding: 10px;
  box-shadow: 0px 8px 50px rgba(0, 0, 0, 0.5);
}

header ul li {
  display: inline;
}

header ul {
  text-align: center;
  padding: 0px;
  margin: 0px;
  flex-grow: 1;
}

#urlBar {
  border-radius: 2.5px;
  padding: 2.5px;
  padding-left: 5px;
  flex-grow: 3;
}

button {
    border-radius: 2.5px;
    padding: 4.5px;
    padding-left: 9px;
    padding-right: 9px;
}

#loadingOverlay {
  position: fixed;
  top: auto;
  bottom: 15px;
  left: auto;
  right: 15px;
  background-color: rgba(0, 0, 0, 0.75);
  opacity: 0;
  transition: opacity 0.5s;
  border-radius: 5px;
  height: 100px;
  width: 100px;
}

#loadingOverlay img {
  width: 90px;
  height: 90px;
  margin-left: 5px;
  margin-top: 5px;
}

#pageView {
  position: fixed;
  z-index: -2;
  top: 50px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.pref {
  position: fixed;
  top: 50px;
  left: 100%;
  bottom: 0px;
  transition: left 0.5s;
  width: 25%;
  height: auto;
  background: white;
  border: none;
  box-shadow: 8px 0px 50px rgba(0, 0, 0, 0.5);
  z-index: -1;
}
