body {
  margin: 0px;
  padding: 0px;
}

header {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
  height: 40px;
  padding: 10px;
  padding-left: 0px;
  padding-right: 0px;
  box-shadow: 0px 8px 50px rgba(0, 0, 0, 0.5);
}

header ul li {
  display: inline;
}

header ul {
  text-align: center;
  padding: 0px;
  margin: 0px;
  flex-grow: 1;
}

#urlBar {
  border-radius: 2.5px;
  padding: 2.5px;
  padding-left: 5px;
  flex-grow: 3;
}

button {
    border-radius: 2.5px;
    padding: 4.5px;
    padding-left: 9px;
    padding-right: 9px;
}

.navBtn {
  margin: 0px;
  padding: 0px;
  height: 40px;
  width: 40px;
  display: inline;
  flex-grow: 1;
}

.navBtn:active {
  -webkit-filter: brightness(0.8);
}

#loadingOverlay {
  position: fixed;
  top: auto;
  bottom: 15px;
  left: auto;
  right: 15px;
  background-color: rgba(0, 0, 0, 0.75);
  opacity: 0;
  transition: opacity 0.5s;
  border-radius: 5px;
  height: 100px;
  width: 100px;
}

#loadingOverlay img {
  width: 90px;
  height: 90px;
  margin-left: 5px;
  margin-top: 5px;
}

#pageView {
    position: fixed;
    z-index: -2;
    top: 60px;
    bottom: 0px;
    left: 50px;
    right: 0px;
    display: flex;
}

webview {
    position: fixed;
    z-index: -2;
    top: 60px;
    bottom: 0px;
    left: 50px;
    right: 0px;
    display: none;
}

.pref {
  position: fixed;
  top: 60px;
  left: 100%;
  bottom: 0px;
  transition: left 0.5s;
  width: 25%;
  height: auto;
  background: white;
  border: none;
  box-shadow: 8px 0px 50px rgba(0, 0, 0, 0.5);
  z-index: -1;
}

#history {
  position: fixed;
  z-index: 2;
  /*height: 15%;*/
  display: none;
  opacity: 0;
  transition: opacity 0.25s;
  overflow: hidden;
}

#history ul {
  margin: 0px;
  padding: 0px;
}

#history ul li {
  height: 20px;
  padding: 2.5px;
  margin: 0px;
  list-style: none;
  overflow: hidden;
}

.tabs {
    position: absolute;
    left: 0;
    bottom: 0;
    top: 60px;
    background: #545454;
    width: 50px;
}

.tabs ul {
    margin: 0;
    padding: 0;
}

.tabs ul ul {
    margin: 0;
    padding: 0;
}


.tabs ul li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.tabs ul ul li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.tab {
    width: 50px;
    height: 50px;
    transition: background-color .15s ease-in;
}

.tab:hover {
    background-color: #8b8b8b;
}

.tab img {
    width: 16px;
    height: 16px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.addTab {
    cursor: pointer;
    text-align: center;
    font-size: 32px;
    color: rgb(218, 218, 218);
    height: 50px;
    width: 50px;
}

.addTab:hover {
    background-color: #8b8b8b;
}
