@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
header {
  background-color: #EEE;
}

body {
  font-family: "Open Sans", sans-serif;
}

#prefBody {
  background-color: #EEE;
  color: rgb(70, 70, 70);
  text-align: center;
}

input[type="text"] {
  background-color: #FFF;
  background: linear-gradient(#EFEFEF, #FFF);
  color: rgb(70, 70, 70);
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  border: 1px solid #999999;
}

input[type="url"] {
  background-color: #FFF;
  background: linear-gradient(#EFEFEF, #FFF);
  color: rgb(70, 70, 70);
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  border: 1px solid #999999;
}

button {
  border: 1px solid #999;
  background-color: #FFF;
  color: rgb(70, 70, 70);
}

.prefH1 {
  border-bottom: 1px solid rgb(218, 218, 218);
}

.themeBtn {
    color: rgb(218, 218, 218);
    background-color: #818181;
    border: 2px solid #404040;
}

#history {
    background: #EEE;
    border: 1px solid #999;
    box-shadow: 0px 2px 50px black;
}

#history ul li {
    border-bottom: 1px solid #404040;
    /*background: #818181;*/
    color: #404040;
    padding-top: 5px;
    padding-bottom: 5px;
    /*box-shadow: 0px 2px 50px black;*/
}

#history ul:last-child {
    border-bottom: none;
}

.historySel {
    background-color: #69aa00 !important;
    background: #69aa00 !important;
    color: rgb(70, 70, 70) !important;
}

#clrHistoryBtn {
  color: rgb(218, 218, 218);
  background-color: rgb(232, 0, 0);
  border: 2px solid #404040;
}

#clrHistoryBtn:active {
  background-color: rgb(200, 0, 0);
  border: 2px solid #404040;
}

.selectedBtn {
  background-color: #69aa00;
  border: 2px solid #404040;
}

.tabs .active {
    background-color: #818181;
}
