.horizList li {
  display: block;
  float: left;
  padding: 0px;
  margin: 0px;
}

.horizList ul {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.horizList {
  width: 100%;
}

.themeBtn {
  font-size: 18px;
  margin: 0px;
  border: none;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.leftBtn {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right: none !important;
}

.rightBtn {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left: none !important;
}
