.horizList li {
  display: block;
  float: left;
  padding: 0px;
  margin: 0px;
  width: 40%;
}

.horizList ul {
  margin: 0px;
  width: 100%;
  padding-left: 11%;
  padding-right: 10%;
}

.horizList {
  width: 100%;
}

table {
  padding: 0px;
  margin: 0px;
  width: 100%;
}

.themeBtn {
  font-size: 18px;
  margin: 0px;
  border: none;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}

.leftBtn {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right: none !important;
}

.rightBtn {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left: none !important;
}

td {
  padding-bottom: 30px;
}

#homepageSect {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
}

input[type="url"] {
  flex-grow: 2;
  width: 100%;
}

#homepageBtn {
  height: 24px;
  float: right;
  flex-grow: 1
}

label {
  float: left;
  flex-grow: 1.5;
}
