header {
  width: 100%;
  text-align: center;
  height: 10%;
}

#bg {
  position:absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
}

section {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}

table {
  width: 100%;
  height: 60%;
  margin-top: 20%;
  margin-bottom: 20%;
}

td {
  text-align: center;
  vertical-align: bottom;
  height: 50%;
  background-image: url(../img/ring-alt.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
